// Charte graphique du blog Disney

$couleur-primaire: #8888ee;
$couleur-secondaire: #ffffff;

$couleur-texte: $couleur-primaire;
$couleur-fond: $couleur-secondaire;

$couleur-texte-inversee: $couleur-secondaire;
$couleur-fond-inversee: $couleur-primaire;
