@import 'mixins';

.box {
  @include border(2px, solid, black, 4px);
  border-style: solid;
  border-color: black;
  border-width: 1px;

  &:hover {
    background-color: #eee;
  }

  &.box-small {
    @include border(1px, solid, blue, 2px);
  }
}
